<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .mt-10 {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div id="app">
    <p style="color:red">{{name}}</p>
    <p style="color:green" k-text="name"></p>
    {{name}}
    <div class="mt-10">
      <button @click="updateName">@click --> 通过事件，更新内容</button>
    </div>
    <div class="mt-10">
      <input k-model="model" :value="model"/>
    </div>
    {{model}}
  </div>
  <script src="../src/kvue/dep.js"></script>
  <script src="../src/kvue/watcher.js"></script>
  <script src="../src/kvue/compiler.js"></script>
  <script src="../src/kvue/observ.js"></script>
  <script src="../src/kvue/index.js"></script>
  <script>
    const app = new KVue({
      el: "#app",
      data: {
        name: '小红',
        sisters: {'nnn': 'ppp'},
        model: '嘿嘿'
      },
      methods: {
        updateName: () => {
          app.name = '香港'
        }
      }
    });
    app.name;
    app.name = "小强";
    app.sisters.nnn;
    app.sisters.nnn = "lll";
  </script>
</body>
</html>