<template>
  <div class="hello">
    <h3>{{ msg }}</h3>
    <br>
    <br>
    <button @click="showNotice">弹窗</button>
  </div>
</template>

<script>

import create from "@/components/notice"

export default {
  name: 'HelloWorld',

  props: {
    msg: String
  },
  methods: {
    showNotice() {
      create({
        title: '小强',
        message: '你好，我是一个消息'
      }).show();
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
</style>
