<template>
  <div>
    <h3>{{msg}}</h3>
    <div>state: {{$store.state.count}}</div>
    <div>getter: {{$store.getters.doubleCounter}}</div>
    <br>
    <br>
    <button @click="$store.commit('add')">同步加1</button>
    <button @click="$store.dispatch('add')">异步加1</button>
  </div>
</template>

<script>
  export default {
    name: "VuexText",
    props: {
      msg: {
        type: String,
        value: '',
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>