<template>
  <div class="notice-module" v-if="isShow">
    <div class="notice-container">
      <div class="notice-info">
        <span class="notice-title">{{title}}</span>
        <div class="notice-message">{{message}}</div>
      </div>
      <div class="notice-close" @click="onClose">X</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    message: {
      type: String,
      default: ""
    },
    duration: {
      type: Number,
      default: 1000
    }
  },
  data() {
    return {
      isShow: false
    };
  },
  methods: {
    show() {
      this.isShow = true;
      setTimeout(this.hide, this.duration);
    },
    hide() {
      this.isShow = false;
      if (this.remove) {
        this.remove();
      }
    },
    onClose() {
      this.isShow = false;
      if (this.remove) {
        this.remove();
      }
    }
  }
};
</script>

<style>
.notice-module {
  position: fixed;
  width: 400px;
  height: 60px;
  top: 16px;
  right: 0;
  pointer-events: none;
  background-color: #ddd;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.notice-module .notice-container {
  display: flex;
}

.notice-container .notice-info {
  flex: 1;
}

.notice-container .notice-close {
  width: 40px;
  height: 100%;
  text-align: center;
  color: aqua;
}
</style>