<template>
  <div id="app">
    <div class="learning vue-learning">
      <HelloWorld msg="0731-基础组件，老杨喊我来搬砖"/>
    </div>
    <div class="learning vue-learning">
      <VuexTest msg="0803-vue全家桶，天王盖地虎" />
    </div>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import VuexTest from './components/VuexTest.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    VuexTest
  }
}
</script>

<style>
html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.learning {
  width: 400px;
  height: 300px;
  margin: 10px;
}

.vue-learning {
  background-color: gray;
}

</style>
